<header>
    <div class="container">
        <h1>LaQuotes</h1>
    </div>
</header>

<body>
    <form>
        <div class="form-group">
            <label for="formGroupExampleInput">Quote</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="When you can’t find the sunshine, be the sunshine">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Quote</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="The grass is greener where you water it">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Quote</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Wherever life plants you, bloom with grace">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Quote</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Don’t forget you’re human. It’s okay to have a meltdown. Just don’t unpack and live there. Cry it out. Then refocus on where you’re headed">
        </div>
    </form>
</body>