<header>
    <div class="container">
        <h1>LaQuotes</h1>
    </div>
</header>

<body>
    <div class="container">
        <form>
            <div class="form-group">
                <label for="formGroupExampleInput">Quote</label>
                <input type="text" class="form-control" id="input" placeholder="When you can’t find the sunshine, be the sunshine">
                <button _ngcontent-qdf-c1="" class="btn btn-primary">EXPLORE</button>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Quote</label>
                <input type="text" class="form-control" id="input2" placeholder="The grass is greener where you water it">
                <button _ngcontent-qdf-c1="" class="btn btn-primary">EXPLORE</button>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Quote</label>
                <input type="text" class="form-control" id="input2" placeholder="Wherever life plants you, bloom with grace">
                <button _ngcontent-qdf-c1="" class="btn btn-primary">EXPLORE</button>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Quote</label>
                <input type="text" class="form-control" id="input2" placeholder="Don’t forget you’re human. It’s okay to have a meltdown. Just don’t unpack and live there. Cry it out. Then refocus on where you’re headed">
                <button _ngcontent-qdf-c1="" class="btn btn-primary">EXPLORE</button>
            </div>
        </form>
    </div>
</body>