h1 {
    font-weight: bold;
    text-align: center;
    padding: 5%;
    font-size: 50px;
}

form {
    font-size: 25px;
    font-weight: 600;
}

input {
    padding: 7%;
    width: 500px;
    height: 150px;
}