<header>
    <div class="container">
        <h1>LaQuotes</h1>
        <hr>
        <ul>
            <div>
                <li *ngFor='let quote of quote let i = index'>
                    {{quote.name}}
                    <br>
                    <button (click)='toggleDetails(i)'>Toggle Details</button>
                    <app-quote-detail *ngIf='quote.showDescription' [quote]='quote'></app-quote-detail>
                </li>
            </div>
        </ul>
        <p *ngIf='quote.length > 5'>You have too many quote</p>
    </div>
</header>

<body>
    <!-- <div class="container">
        <form>
            <div class="form-group">
                <label for="formGroupExampleInput2">Quote</label>
                <input type="text" class="form-control" id="input2" placeholder="The grass is greener where you water it">
                <button _ngcontent-qdf-c1="" class="btn btn-primary">EXPLORE</button>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Quote</label>
                <input type="text" class="form-control" id="input2" placeholder="Wherever life plants you, bloom with grace">
                <button _ngcontent-qdf-c1="" class="btn btn-primary">EXPLORE</button>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Quote</label>
                <input type="text" class="form-control" id="input2" placeholder="Learn from yesterday">
                <button _ngcontent-qdf-c1="" class="btn btn-primary">EXPLORE</button>
            </div>
        </form>
    </div>
</body> -->